doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(type='text/fonts', rel='stylesheet', src="/vendor/Roboto")
		link(rel='stylesheet', href="/stylesheets/index.css")


	body
		.content Selvie Testserver