<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100' />
		<link rel='stylesheet' href='/stylesheets/index.css' />
	</head>
	<body>
		<div class='content'>
			<h1><%= title %></h1>
			<p>Welcome to <%= title %></p>
		</div>



		<script type='text/javascript' src='//code.jquery.com/jquery.min.js'></script>
		<script type='text/javascript' src='/javascripts/index.js'></script>
  </body>
</html>
